* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: cursive, sans-serif, 'Yomogi', 'Nixie One';
}


/* Utility Classes */

h1,
h2 {
    text-transform: uppercase;
}

.border-dark {
    border: 2px solid #262626;
}

.border-radius {
    border-radius: 8px;
}


/* Header ans Footer */

.header,
.footer {
    font-size: 0.8rem;
    min-height: 0.8rem;
    width: 100%;
    padding: 0.3rem;
    color: #262626;
}

.header {
    text-align: center;
}


/* Main */

.main {
    margin: 0.5rem;
    padding: 0.5rem;
}

.calculator {
    height: 33rem;
    width: 23rem;
    margin: auto;
    padding: 1rem;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    font-family: roboto sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
}


/* Screen */

.screen {
    height: 20%;
    width: 100%;
    padding: 0.7rem;
    background-color: whitesmoke;
}

.screen-text {
    height: 35%;
    font-size: 0.9rem;
    text-align: right;
    padding: 0.5rem;
}

.screen-results {
    height: 65%;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: right;
    padding: 0.5rem;
}


/* Clear */

.clear-and-delete {
    height: 10%;
    width: 100%;
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}


/* Clear */

.clear {
    background-color: #ee9999;
}

.clear:hover {
    background-color: #f78d8d;
}


/* Delete */

.delete {
    background-color: #aaaaff;
}

.delete:hover {
    background-color: #9191fd;
}


/* Clear and Delet */

.clear,
.delete {
    padding: 1rem;
}


/* Keys */

.keys {
    height: 70%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.9rem;
}

.key {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid #262626;
    border-radius: 8px;
}

.key:hover {
    background-color: #eee;
    cursor: pointer;
    font-weight: bold;
}


/* Footer */

.footer {
    position: absolute;
    bottom: 0;
    text-align: right;
    padding: 1rem;
}